{# Accessing the value 'Findbold' from the structured array #}
<div class="field-bold-text-leader">
  {% if items.0.content['#context'].value %}
    {{ items.0.content['#context'].value }}:
  {% else %}
    {{ 'No content found' }}
  {% endif %}
</div>
